 CREATE DATABASE [Institution]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Institution', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Institution.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Institution_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Institution_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Institution].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Institution]
GO
/****** Object:  Table [dbo].[student]    Script Date: 4/14/2018 2:31:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](250) NOT NULL,
	[lastName] [nvarchar](250) NOT NULL,
	[fatherName] [nvarchar](250) NOT NULL,
	[motherName] [nvarchar](250) NOT NULL,
	[dateOfBirth] [date] NOT NULL CONSTRAINT [DF_student_dateOfBirth]  DEFAULT (getdate()),
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[imageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
